# Build results
bin/
obj/
out/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider
.idea/

# NuGet Packages
*.nupkg
*.snupkg
*.nuspec
packages/
*.dll
*.exe
*.pdb

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Publish outputs
publish/
appsettings.*.json

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Coverage
*.coverage
*.coveragexml

# OS-specific
.DS_Store
Thumbs.db
